<p id="notice"><%= notice %></p>

<p>
  <strong>Mbid:</strong>
  <%= @setlist.mbid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @setlist.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @setlist.artist %>
</p>

<p>
  <strong>Url:</strong>
  <%= @setlist.url_id %>
</p>

<p>
  <strong>Request ID:</strong>
  <%= @setlist.request_id %>
</p>

<p>
  <strong>Tracks:</strong>
  <% @setlist.tracks.each do |a| %>
  <a href="/tracks/<%=a.id%>"><%= a.name %></a>
</br>
  <% end %>
</p>


<%= link_to 'Edit', edit_setlist_path(@setlist) %> |
<%= link_to 'Back', setlists_path %>
