<a id="homebutton" href="/requests/new">Home</a>

<body id="show">

<p>
  <strong>Setlist Name:</strong>
  <%= @setlist.name %>
</p>

<p>
  <strong>Tracks:</strong>
</br>
<% x = 1 %>
  <% @setlist.tracks.each do |a| %>
  <p>
      <%= x %>.
  <a id="loop" href="/tracks/<%=a.id%>"><%= a.name %></a>
<% x = x + 1 %>
  </p>
  <% end %>
</p>
</br>
</br>
</br>
<p>
  <strong>Artist:</strong>
  <%= @setlist.artist %>
</p>

<p>
  <strong>Url:</strong>
  <%= @setlist.url_id %>
</p>

<p>
  <strong>Request ID:</strong>
  <%= @setlist.request_id %>
</p>


<p>
  <strong>Mbid:</strong>
  <%= @setlist.mbid %>
</p>


<%= link_to 'Edit', edit_setlist_path(@setlist) %> |
<%= link_to 'Back', setlists_path %>

</body>