<p id="notice"><%= notice %></p>

<p>
  <strong>Setlist:</strong>
  <%= @request.setlist %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user %>
</p>

<p>
  <strong>Request count:</strong>
  <%= @request.request_count %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
