<p id="notice"><%= notice %></p>

<p>
  <strong>artist:</strong>
  <%= @request.artist %>
</p>

<p>
  <strong>URL:</strong>
  <%= @request.url_id %>
</p>
<p>
	<strong>Setlists:</strong>
	<%= @request.setlists.each do |a| %>
	<%= a.id %>	</br>
	<% end %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
