<body id="show">

<%= link_to 'Home', new_request_path %>

<p id="notice"><%= notice %></p>

<p id="artist">
  <strong>Artist:</strong>
  <%= @request.artist %>
</p>

<p>
</br>
<% x = 1 %>
	<% @request.setlists.each do |a| %>
	<p>
		<%= x %>.
	<a id="loop" href="/setlists/<%=a.id%>"><%= a.name %></a>
	<% x = x + 1 %>
	</p>
	<% end %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
</body>