<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @request.artist %>
</p>

<p>
	<strong>Setlists:</strong>
</br>
<% x = 1 %>
	<% @request.setlists.each do |a| %>
	<p>
		<%= x %>.
	<a href="/setlists/<%=a.id%>"><%= a.name %></a>
	<% x = x + 1 %>
	</p>
	<% end %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
