<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @request.artist %>
</p>

<p>
	<strong>Setlists:</strong>
	<%= @request.setlists.each do |a| %>
	<a href='/setlists/#{a.id}'><%= a.name %></a>
</br>
	<% end %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
